{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% set layoutHeaderToolbarBtn = {
  add: {
    href: path('admin_currencies_create'),
    desc: 'Add new currency'|trans({}, 'Admin.International.Feature'),
    icon: 'add_circle_outline',
  }
}
%}

{% block content %}

  {{ include('@PrestaShop/Admin/Common/Grid/grid_panel.html.twig', {grid: currencyGrid}) }}

  {% block exchange_rates_block %}
    <div class="row">
      <div class="col-lg-6 col-md-8">
        {{ include('@PrestaShop/Admin/Improve/International/Currency/Blocks/exchange_rates.html.twig', {exchangeRatesForm: currencySettingsForm}) }}
      </div>
    </div>
  {% endblock %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('themes/new-theme/public/currency.bundle.js') }}"></script>
  <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
{% endblock %}
