{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% form_theme importThemeForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block content %}

  {{ form_start(importThemeForm) }}
  {{ form_errors(importThemeForm) }}
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">file_copy</i>
          {{ 'Import from your computer'|trans({}, 'Admin.Design.Feature') }}
        </h3>
        <div class="card-body">
          <div class="form-wrapper">
            {{ form_row(importThemeForm.import_from_computer) }}
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" data-role="computer-import-button">
              <i class="material-icons">cloud_upload</i>
              {{ 'Save'|trans({}, 'Admin.Actions') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-10">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">file_copy</i>
          {{ 'Import from the web'|trans({}, 'Admin.Design.Feature') }}
        </h3>
        <div class="card-body">
          <div class="form-wrapper">
            {{ form_row(importThemeForm.import_from_web) }}
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" data-role="web-import-button">
              <i class="material-icons">cloud_upload</i>
              {{ 'Save'|trans({}, 'Admin.Actions') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-10">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">file_copy</i>
          {{ 'Import from FTP'|trans({}, 'Admin.Design.Feature') }}
        </h3>
        <div class="card-body">
          <div class="form-wrapper">
            {{ form_row(importThemeForm.import_from_ftp) }}
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" data-role="ftp-import-button">
              <i class="material-icons">cloud_upload</i>
              {{ 'Save'|trans({}, 'Admin.Actions') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block import_theme_form_rest %}
    {{ form_rest(importThemeForm) }}
  {% endblock %}

  {{ form_end(importThemeForm) }}

{% endblock %}
