{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% block material_choice_tree_widget %}
  <div class="material-choice-tree-container js-choice-tree-container{% if required %} required{% endif %}" id="{{ form.vars.id }}">
    <div class="choice-tree-actions">
      <span class="form-control-label js-toggle-choice-tree-action"
            data-expanded-text="{{ 'Expand'|trans({}, 'Admin.Actions') }}"
            data-expanded-icon="expand_more"
            data-collapsed-text="{{ 'Collapse'|trans({}, 'Admin.Actions') }}"
            data-collapsed-icon="expand_less"
            data-action="expand"
      >
        <i class="material-icons">expand_more</i>
        <span class="js-toggle-text">{{ 'Expand'|trans({}, 'Admin.Actions') }}</span>
      </span>
    </div>

    <ul class="choice-tree">
      {% for choice in choices_tree %}
        {{ block('material_choice_tree_item_widget') }}
      {% endfor %}
    </ul>
  </div>

  {{- block('form_help') -}}
{% endblock material_choice_tree_widget %}

{% block material_choice_tree_item_widget %}
  {% set has_children = choice[choice_children] is defined %}

  <li class="{% if choice.has_selected_children %}expanded{% elseif has_children %}collapsed{% endif %}">
    {% if multiple %}
      {{ block('material_choice_tree_item_checkbox_widget') }}
    {% else %}
      {{ block('material_choice_tree_item_radio_widget') }}
    {% endif %}

    {% if has_children %}
      <ul>
        {% for item in choice[choice_children] %}
          {% set choice = item %}
          {{ block('material_choice_tree_item_widget') }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endblock material_choice_tree_item_widget %}

{% block material_choice_tree_item_checkbox_widget %}
  <div class="checkbox js-input-wrapper">
    <div class="md-checkbox md-checkbox-inline">
      <label>
        <input type="checkbox"
         {% if choice[choice_value] is not null %}
           name="{{ form.vars.full_name }}[]"
           value="{{ choice[choice_value] }}"
           {% if choice[choice_value] in selected_values %}checked{% endif %}
         {% endif %}
         {% if disabled or choice[choice_value] in disabled_values %}disabled{% endif %}
        >
        <i class="md-checkbox-control"></i>
        {{ choice[choice_label] }}
      </label>
    </div>
  </div>
{% endblock material_choice_tree_item_checkbox_widget %}

{% block material_choice_tree_item_radio_widget %}
  <div class="radio js-input-wrapper form-check form-check-radio">
    <label class="form-check-label">
      <input type="radio"
       name="{{ form.vars.full_name }}"
       value="{{ choice[choice_value] }}"
       {% if choice[choice_value] in selected_values %}checked{% endif %}
       {% if disabled or choice[choice_value] in disabled_values %}disabled{% endif %}
       {% if required %}required{% endif %}
      >
      <i class="form-check-round"></i>
      {{ choice[choice_label] }}
    </label>
  </div>
{% endblock material_choice_tree_item_radio_widget %}
