{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain 'Admin.Advparameters.Feature' %}

{% block content %}
  {% if importForm is defined %}
    <div class="row">
      <div class="col-md-8">
        {% block import_panel %}
          {{ include('@PrestaShop/Admin/Configure/AdvancedParameters/Blocks/import_panel.html.twig') }}
        {% endblock %}
      </div>

      <div class="col-md-4">
        {% block import_available_fields %}
          {{ include('@PrestaShop/Admin/Configure/AdvancedParameters/Blocks/import_available_fields.html.twig') }}
        {% endblock %}

        {% block import_sample_files %}
          {{ include('@PrestaShop/Admin/Configure/AdvancedParameters/Blocks/import_sample_files.html.twig') }}
        {% endblock %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('themes/new-theme/public/imports.bundle.js') }}"></script>
{% endblock %}
