{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
<div class="card customer-orders-card">
  <h3 class="card-header">
    <i class="material-icons">shopping_basket</i>
    {{ 'Orders'|trans({}, 'Admin.Global') }}
    <span class="badge badge-primary rounded">{{ customerOrderGrid.data.records_total }}</span>

    <a href="{{ path('admin_orders_create') }}" class="tooltip-link float-right"
    data-toggle="pstooltip" title="" data-placement="top" data-original-title="{{ 'Add'|trans({}, 'Admin.Actions') }}">
      <i class="material-icons">add_circle</i>
    </a>
  </h3>
  <div class="card-body">
    {% if customerOrderGrid.data.records_total > 0 %}
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              {{ 'Valid orders:'|trans({}, 'Admin.Orderscustomers.Feature') }}
              <span class="badge badge-success rounded">{{ customerInformation.ordersInformation.validOrders|length }}</span>
              {% set totalAmount = '<span id="total-order-amount">' ~ customerInformation.ordersInformation.totalSpent ~ '</span>' %}
              {{ 'for a total amount of %s'|trans({}, 'Admin.Orderscustomers.Feature')|format(totalAmount)|raw_purified }}
            </div>
            <div class="col">
              {{ 'Invalid orders:'|trans({}, 'Admin.Orderscustomers.Feature') }}
              <span class="badge badge-danger rounded">{{ customerInformation.ordersInformation.invalidOrders|length }}</span>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if customerOrderGrid.data.records_total > 0 %}
      {{ include('@PrestaShop/Admin/Common/Grid/grid.html.twig', {grid: customerOrderGrid}) }}
    {% else %}
      <div class="text-center">
        <p class="text-muted mb-2">
          {{ '%firstname% %lastname% has not placed any orders yet'|trans({'%firstname%': customerInformation.personalInformation.firstName, '%lastname%': customerInformation.personalInformation.lastName}, 'Admin.Orderscustomers.Feature') }}
        </p>
        <a class="btn btn-primary" href="{{ path('admin_orders_create') }}">
          <i class="material-icons">add_circle</i>
          {{ 'Create manual order'|trans({}, 'Admin.Global') }}
        </a>
      </div>
    {% endif %}
  </div>
</div>
