{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% block backup_info %}
  <div class="alert alert-info" role="alert">
    <h4>{{ 'How to restore a database backup in 10 easy steps'|trans({}, 'Admin.Advparameters.Help') }}</h4>
    <ol class="mb-0">
      <li>{{ 'Set "Enable Shop" to "No" in the "Maintenance" page under the "Preferences" menu.'|trans({}, 'Admin.Advparameters.Help') }}</li>
      <li>{{ 'Download the backup from the list below or from your FTP server (in the folder "admin/backups").'|trans({}, 'Admin.Advparameters.Help') }}</li>
      <li>{{ 'Check the backup integrity: Look for errors, incomplete file, etc... Be sure to verify all of your data.'|trans({}, 'Admin.Advparameters.Help') }}</li>
      <li>{{ 'Please ask your hosting provider for "phpMyAdmin" access to your database.'|trans({}, 'Admin.Advparameters.Help') }}</li>
      <li>{{ 'Connect to "phpMyAdmin" and select your current database.'|trans({}, 'Admin.Advparameters.Help') }}</li>
      <li>{{ 'Unless you enabled the "Drop existing tables" option, you must delete all tables from your current database.'|trans({}, 'Admin.Advparameters.Help') }}</li>
      <li>{{ 'At the top of the screen, please select the "Import" tab'|trans({}, 'Admin.Advparameters.Help') }}</li>
      <li>{{ 'Click on the "%phpmyadmin_browse_label%" button and select the backup file from your hard drive.'|trans({'%phpmyadmin_browse_label%': 'Browse'|trans({}, 'Admin.Actions')}, 'Admin.Advparameters.Help') }}</li>
      <li>
        {{ 'Check the maximum filesize allowed (e.g. Max: 16MB)'|trans({}, 'Admin.Advparameters.Help') }} <br>
        {{ 'If your backup file exceeds this limit, contact your hosting provider for assistance. '|trans({}, 'Admin.Advparameters.Help') }}
      </li>
      <li>{{ 'Click on the "%phpmyadmin_go_label%" button and please wait patiently for the import process to conclude. This may take several minutes.'|trans({'%phpmyadmin_go_label%': 'Go'|trans({}, 'Admin.Actions')}, 'Admin.Advparameters.Help') }} <br></li>
    </ol>
  </div>
{% endblock %}
