{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% form_theme attributeGroupForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block attribute_group_form_block %}
  {{ form_start(attributeGroupForm) }}

  <div class="card">
    <h3 class="card-header">
      {{ 'Attribute'|trans({}, 'Admin.Catalog.Attribute') }}
    </h3>

    <div class="card-body">
      <div class="form-wrapper">
        {{ form_widget(attributeGroupForm) }}
      </div>
    </div>

    <div class="card-footer">
      <a href="{{ path('admin_attribute_groups_index') }}" class="btn btn-outline-secondary">
        {{ 'Cancel'|trans({}, 'Admin.Actions') }}
      </a>
      <button class="btn btn-primary float-right">
        {{ 'Save'|trans({}, 'Admin.Actions') }}
      </button>
    </div>
  </div>

  {{ form_end(attributeGroupForm) }}
{% endblock %}
