{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="card" data-role="addresses-card">
  <h3 class="card-header">
    {{ 'Addresses'|trans({}, 'Admin.Global') }}
    ({{ viewableManufacturer.manufacturerAddresses|length }})
  </h3>
  <div class="card-body">
    {% if viewableManufacturer.manufacturerAddresses is not empty %}
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'Name'|trans({}, 'Admin.Global') }}</th>
            <th>{{ 'Address'|trans({}, 'Admin.Global') }}</th>
            <th>{{ 'Address (2)'|trans({}, 'Admin.Global') }}</th>
            <th>{{ 'City'|trans({}, 'Admin.Global') }}</th>
            <th>{{ 'State'|trans({}, 'Admin.Global') }}</th>
            <th>{{ 'Home phone'|trans({}, 'Admin.Global') }}</th>
            <th>{{ 'Mobile phone'|trans({}, 'Admin.Global') }}</th>
            <th>{{ 'Other'|trans({}, 'Admin.Global') }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for address in viewableManufacturer.manufacturerAddresses %}
            <tr>
              <td>{{ address.first_name }} {{ address.last_name }}</td>
              <td>{{ address.address1 }}</td>
              <td>{{ address.address2 }}</td>
              <td>{{ address.city }}</td>
              <td>{% if address.state %}{{ address.state }}{% else %}-{% endif %}</td>
              <td>{% if address.phone %}{{ address.phone }}{% else %}-{% endif %}</td>
              <td>{% if address.phone_mobile %}{{ address.phone_mobile }}{% else %}-{% endif %}</td>
              <td>{% if address.other %}{{ address.other|nl2br }}{% else %}-{% endif %}</td>
              <td>
                <div class="btn-group-action text-right">
                  <div class="btn-group">
                    <a class="btn tooltip-link js-link-row-action dropdown-item"
                       href="{{ path('admin_manufacturer_addresses_edit', {addressId: address.id}) }}"
                       data-toggle="pstooltip"
                       data-placement="top"
                       data-original-title="{{ 'Edit'|trans({}, 'Admin.Actions') }}"
                    >
                      <i class="material-icons">edit</i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      {{ 'No address has been found for this brand.'|trans({}, 'Admin.Catalog.Notification') }}
    {% endif %}
  </div>
</div>
