{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% if not isShowcaseCardClosed %}
  <div id="categoriesShowcaseCard" class="helper-card card">
    <div class="helper-card__left helper-card__category shape-one">
      <img src="{{ asset('themes/new-theme/public/helper-card/category@3x.svg') }}" class="img-fluid">
    </div>
    <div class="helper-card__right">
      <h2>{{ 'Set categories'|trans({}, 'Admin.Catalog.Feature') }}</h2>
      <p>{{ 'Categories are essential, as they enable you to group equivalent products. This helps customers find their way through the variety of your catalog.'|trans({}, 'Admin.Catalog.Feature') }}</p>
      <a class="btn btn-outline-secondary"
         href="{{ documentation_link('category') }}"
         target="_blank"
      >
        {{ 'Learn more'|trans({}, 'Admin.Actions') }}
      </a>
    </div>
    <i class="showcase-card__close material-icons js-remove-helper-block"
       data-card-name="{{ showcaseCardName }}"
       data-close-url="{{ path('admin_close_showcase_card') }}"
    >
      close
    </i>
  </div>
{% endif %}
