{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  {% block addresses_listing %}
    {{ include('@PrestaShop/Admin/Common/Grid/grid_panel.html.twig', {grid: addressGrid}) }}
  {% endblock %}

  {% block address_required_fields_form %}
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addressRequiredFieldsContainer" aria-expanded="false" aria-controls="addressRequiredFieldsContainer">
        <i class="material-icons">add_circle</i>
        {{ 'Set required fields for this section'|trans({}, 'Admin.Orderscustomers.Feature') }}
      </button>
    </p>

    {{ include('@PrestaShop/Admin/Sell/Address/Blocks/required_fields.html.twig') }}
  {% endblock %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
  <script src="{{ asset('themes/new-theme/public/address.bundle.js') }}"></script>
{% endblock %}
