{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% form_theme requiredFieldsForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

<div class="collapse" id="addressRequiredFieldsContainer">
  {{ form_start(requiredFieldsForm, {action: path('admin_addresses_save_required_fields')}) }}
  <div class="card" >
    <h3 class="card-header">
      {{ 'Required Fields'|trans({}, 'Admin.Orderscustomers.Feature') }}
    </h3>
    <div class="card-body">
      <div class="alert alert-info" role="alert">
        <div class="alert-text">
          <p>
            {{ 'Required fields apply to the customer\'s registration form, you should check the address formats in [1]International > Locations > Countries[/1] before.'|trans(
              {
                '[1]': '<a href="' ~ getAdminLink('AdminCountries', true) ~ '">',
                '[/1]': '</a>'
              },
              'Admin.Orderscustomers.Help')|raw
            }}
          </p>
        </div>
      </div>
      {{ form_widget(requiredFieldsForm.required_fields) }}
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
      </div>
    </div>
  </div>
  {{ form_end(requiredFieldsForm) }}
</div>
