{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{# Prepare route params #}
{% set route_params = {(column.options.route_param_name): (record[column.options.primary_field])} %}
{% set extra_route_params = column.options.extra_route_params %}
{% for name, field in extra_route_params %}
  {% set route_params = route_params|merge({(name): (record[field] ?? field)}) %}
{% endfor %}

{# Primary key is composed of all route parameters #}
{% set id_primary_key = route_params|join('-') %}

{% set isValid = record[column.id] == 1 %}

<div class="text-center">
  <div
    class="ps-switch ps-switch-sm ps-switch-nolabel ps-switch-center ps-togglable-row"
    data-toggle-url="{{ path(column.options.route, route_params) }}"
  >
  <input type="radio" name="input-{{ column.options.route }}-{{ id_primary_key }}"
         id="input-false-{{ column.options.route }}-{{ id_primary_key }}"
         value="0" {% if not isValid %}checked{% endif %}>
      <label for="input-false-{{ column.options.route }}-{{ id_primary_key }}">Off</label>
      <input type="radio" name="input-{{ column.options.route }}-{{ id_primary_key }}"
             id="input-true-{{ column.options.route }}-{{ id_primary_key }}"
             value="1" {% if isValid %}checked{% endif %}>
      <label for="input-true-{{ column.options.route }}-{{ id_primary_key }}">On</label>
      <span class="slide-button"></span>
  </div>
</div>
