{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% form_theme customerRequiredFieldsForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

<div class="collapse" id="customerRequiredFieldsContainer">
  {% block customer_required_fields_form %}
    {{ form_start(customerRequiredFieldsForm, {action: path('admin_customers_set_required_fields')}) }}
    <div class="card" >
      <h3 class="card-header">
        {{ 'Required fields'|trans({}, 'Admin.Orderscustomers.Feature') }}
      </h3>
      <div class="card-body">
        <div class="alert alert-info" role="alert">
          <div class="alert-text">
            <p>{{ 'Select the fields you would like to be required for this section.'|trans({}, 'Admin.Orderscustomers.Help') }}</p>
            <p>{{ 'Please make sure you are complying with the opt-in legislation applicable in your country.'|trans({}, 'Admin.Orderscustomers.Help') }}</p>
          </div>
        </div>
        <div class="alert alert-danger d-none" role="alert" id="customerRequiredFieldsAlertMessageOptin">
          <div class="alert-text">
            <p>{{ '[1]Make[/1] sure you enable partner offers in the [2]Shop Parameters > Customer Settings[/2] section of the back office before requiring them. Otherwise, new customers won\'t be able to create an account and [1]proceed[/1] to checkout.'|trans({
                '[1]': '<strong>',
                '[/1]': '</strong>',
                '[2]': '<a href="' ~ path('admin_customer_preferences') ~ '">',
                '[/2]': '</a>',
              }, 'Admin.Orderscustomers.Help')|raw_purified }}</p>
          </div>
        </div>

        {{ form_widget(customerRequiredFieldsForm.required_fields) }}
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
        </div>
      </div>
    </div>
    {{ form_end(customerRequiredFieldsForm) }}
  {% endblock %}
</div>
