{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% form_theme orderMessageForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{{ form_start(orderMessageForm) }}
  <div class="card">
  <h3 class="card-header">
    <i class="material-icons">person</i>
    {{ 'Order message'|trans({}, 'Admin.Orderscustomers.Feature') }}
  </h3>
  <div class="card-body">
    <div class="form-wrapper">
      {{ form_errors(orderMessageForm) }}
      {% block order_message_form_widget %}
        {{ form_widget(orderMessageForm) }}
      {% endblock %}
    </div>
  </div>
  <div class="card-footer">
    <a href="{{ path('admin_order_messages_index') }}" class="btn btn-outline-secondary">
      {{ 'Cancel'|trans({}, 'Admin.Actions') }}
    </a>
    <button class="btn btn-primary float-right" id="save-button">
      {{ 'Save'|trans({}, 'Admin.Actions') }}
    </button>
  </div>
</div>
{{ form_end(orderMessageForm) }}
