{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% form_theme attachmentForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block attachment_form %}
  {# Add data attribute to allow form iframe modal to easily get the data #}
  {{ form_start(attachmentForm, {attr: {'data-attachment-id': attachmentId|default('')}}) }}
    <div class="card">
      <h3 class="card-header">
        <i class="material-icons">attachment</i>
        {{ 'File'|trans({}, 'Admin.Global') }}
      </h3>
      <div class="card-body">
        <div class="form-wrapper">
          {{ form_errors(attachmentForm) }}
          {{ form_widget(attachmentForm) }}

          {% if attachmentId is defined %}
            <div class="form-group row">
              <div class="col-sm float-right">
                <a href="{{ path('admin_attachments_view', {attachmentId: attachmentId}) }}" class="btn btn-primary float-right">
                  <i class="material-icons">cloud_download</i>
                  {{ 'Download current file'|trans({}, 'messages') }}
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="card-footer">
          <a href="{{ pathWithBackUrl('admin_attachments_index') }}" class="btn btn-outline-secondary cancel-btn">
          {{ 'Cancel'|trans({}, 'Admin.Actions') }}
        </a>
        <button class="btn btn-primary float-right submit-btn">
          {{ 'Save'|trans({}, 'Admin.Actions') }}
        </button>
      </div>
    </div>
  {{ form_end(attachmentForm) }}
{% endblock %}
