{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% if not isShowcaseCardClosed %}
  <div id="monitoringShowcaseCard" class="helper-card card">
    <div class="helper-card__left helper-card__monitoring shape-one">
      <img src="{{ asset('themes/new-theme/public/helper-card/monitoring@3x.svg') }}" class="img-fluid">
    </div>
    <div class="helper-card__right">
      <h2>{{ 'Focus on your catalog'|trans({}, 'Admin.Catalog.Feature') }}</h2>
      <p>{{ 'Empty categories, disabled products, items that lack image or price... check the monitoring section to optimize your products management and make sure you forgot nothing.'|trans({}, 'Admin.Catalog.Feature') }}</p>
      <a class="btn btn-outline-secondary"
         href="{{ documentation_link('monitoring') }}"
         target="_blank"
      >
        {{ 'Learn more'|trans({}, 'Admin.Actions') }}
      </a>
    </div>
    <i class="showcase-card__close material-icons js-remove-helper-block"
       data-card-name="{{ showcaseCardName }}"
       data-close-url="{{ path('admin_close_showcase_card') }}"
    >
      close
    </i>
  </div>
{% endif %}
