{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="text-center showcase-list-card">
  <img class="img-responsive mt-3" src="{{ asset('themes/new-theme/img/empty_state/credit_slip.svg') }}" width="320" height="auto">

  <p class="mt-4 showcase-list-card__header">{{ 'Manage your credit slips'|trans({}, 'Admin.Catalog.Feature') }}</p>

  <p class="mx-auto showcase-list-card__message">
    {{ 'When a customer returns a product, a credit slip must be created in his favor. Generate vouchers and have a look at their follow-up.'|trans({}, 'Admin.Catalog.Feature') }}
  </p>

  <div class="mt-4">
    <a href="{{ documentation_link('credit_slip') }}" target="_blank" class="btn btn-outline-secondary mr-1">{{ 'Learn more'|trans({}, 'Admin.Actions') }}</a>
  </div>
</div>
