{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% trans_default_domain 'Admin.Orderscustomers.Feature' %}
{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

{% form_theme invoiceOptionsForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block content %}
  {{ form_start(invoiceOptionsForm, {action: path('admin_order_invoices_process'), attr: {id: 'form-invoices-options'}}) }}
    {% block invoice_options %}
    <div class="card">
      <h3 class="card-header">
        <i class="material-icons">settings</i>
        {{ 'Invoice options'|trans }}
      </h3>
      <div class="card-body">
        <div class="form-wrapper">
          {{ form_widget(invoiceOptionsForm) }}
          {{ form_rest(invoiceOptionsForm) }}
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" id="save-invoices-options-button">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
        </div>
      </div>
    </div>
    {% endblock %}
  {{ form_end(invoiceOptionsForm) }}
{% endblock %}
