{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% block content %}
  {% for record in shopDetailsGrid.data.records %}
    <tr class="shop-preview-row" data-product-id="{{ record['id_product'] }}" data-shop-id="{{ record['id_shop'] }}">
      {% for column in shopDetailsGrid.columns %}
        <td
          {% if column.type == 'identifier' %}data-identifier="{{ record[column.id] }}"{% endif %}
          class="{{ column.type }}-type column-{{ column.id }}{% if column.options.clickable is defined and column.options.clickable %} clickable{% endif %}{% if column.options.alignment is defined and column.options.alignment %} text-{{ column.options.alignment }}{% endif %}"
        >
          {{ column_content(record, column, shopDetailsGrid) }}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
{% endblock %}
