{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% form_theme searchEngineForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{{ form_start(searchEngineForm) }}
  <div class="card">
    <h3 class="card-header">
      {{ 'Referrer'|trans({}, 'Admin.Shopparameters.Feature') }}
    </h3>

    <div class="card-body">
      <div class="form-wrapper">
        {{ form_errors(searchEngineForm) }}

        {% block search_engine_form_widget %}
          {{ form_widget(searchEngineForm) }}
        {% endblock %}
      </div>
    </div>

    <div class="card-footer">
      <div class="d-inline-flex">
        <a href="{{ path('admin_search_engines_index') }}" class="btn btn-outline-secondary">
          {{ 'Cancel'|trans({}, 'Admin.Actions') }}
        </a>
      </div>
      <div class="d-inline-flex float-right">
        <button class="btn btn-primary" id="save-button">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
      </div>
    </div>
  </div>
{{ form_end(searchEngineForm) }}
