{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

{{ form_start(adaptThemeToRtlLanguagesForm, {action: path('admin_themes_adapt_to_rtl_languages')}) }}
<div class="card">
  <h3 class="card-header">
    {{ 'Adaptation to Right-to-Left languages'|trans({}, 'Admin.Design.Feature') }}
  </h3>
  <div class="card-body">
    <div class="form-wrapper">
      <div class="alert alert-info">
        <p class="alert-text">
          {{ 'Be careful! Please check your theme in an RTL language before generating the RTL stylesheet: your theme could be already adapted to RTL.\nOnce you enable the "%generate_rtl_label%" option, any RTL-specific file that you might have added to your theme might be deleted by the created stylesheet.'|trans({'%generate_rtl_label%': 'Generate RTL stylesheet'|trans({}, 'Admin.Design.Feature')}, 'Admin.Design.Help') }}
        </p>
      </div>

      {{ ps.form_group_row(adaptThemeToRtlLanguagesForm.theme_to_adapt, {}, {
        label: 'Theme to adapt'|trans({}, 'Admin.Design.Feature')
      }) }}

      {{ ps.form_group_row(adaptThemeToRtlLanguagesForm.generate_rtl_css, {}, {
        label: 'Generate RTL stylesheet'|trans({}, 'Admin.Design.Feature')
      }) }}
    </div>
  </div>

  {% if isMultiShopFeatureUsed and isSingleShopContext %}
    <hr>
    <div class="card-body">
      <div class="form-wrapper">
        {{ ps.multistore_switch(shopLogosForm, {
          label: 'Multistore'|trans({}, 'Admin.Global'),
        }) }}
      </div>
    </div>
  {% endif %}
  <div class="card-footer">
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary">
        {{ 'Save'|trans({}, 'Admin.Actions') }}
      </button>
    </div>
  </div>
</div>
{{ form_rest(adaptThemeToRtlLanguagesForm) }}
{{ form_end(adaptThemeToRtlLanguagesForm) }}
