{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
<div class="ps-dropdown dropdown btn-group bordered">
    <div class="dropdown-label" id="module-status-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-flip="false">
        <span class="js-selected-item selected-item module-status-selector-label">{{ 'Show all modules'|trans({}, 'Admin.Modules.Feature') }}</span>
        <i class="material-icons arrow-down float-right">keyboard_arrow_down</i>
    </div>

    <div class="ps-dropdown-menu dropdown-menu items-list js-items-list module-status-selector" aria-labelledby="module-status-dropdown">
        <a class="dropdown-item module-status-reset">
            {{ 'Show all modules'|trans({}, 'Admin.Modules.Feature') }}
        </a>

        <a class="dropdown-item module-status-menu" data-status-ref="1">
            {{ 'Enabled modules'|trans({}, 'Admin.Modules.Feature') }}
        </a>

        <a class="dropdown-item module-status-menu" data-status-ref="0">
            {{ 'Disabled modules'|trans({}, 'Admin.Modules.Feature') }}
        </a>

        <a class="dropdown-item module-status-menu" data-status-ref="2">
          {{ 'Uninstalled modules'|trans({}, 'Admin.Modules.Feature') }}
        </a>

        <a class="dropdown-item module-status-menu" data-status-ref="3">
          {{ 'Installed modules'|trans({}, 'Admin.Modules.Feature') }}
        </a>
    </div>
</div>
