{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% set displayName = true %}
{% if (grid.view_options.display_name is defined) %}
    {% set displayName = grid.view_options.display_name %}
{% endif %}

<div class="card js-grid-panel" id="{{ grid.id }}_grid_panel">
  {% block grid_panel_header %}
    {% if displayName is not same as(false) or grid.actions.grid|length > 0 %}
    <div class="card-header js-grid-header">
      {% if displayName is not same as(false) %}
        <h3 class="d-inline-block card-header-title">
          {{ grid.name }} ({{ grid.data.records_total }})
        </h3>
      {% endif %}
      {% block grid_actions_block %}
        <div class="d-inline-block float-right">
          {{ include('@PrestaShop/Admin/Common/Grid/Blocks/grid_actions.html.twig', {grid: grid}) }}
        </div>
      {% endblock %}
    </div>
    {% endif %}
  {% endblock %}

  {% block grid_panel_body %}
    <div class="card-body">
      {% block grid_view_block %}
        {{ include('@PrestaShop/Admin/Common/Grid/grid.html.twig', {grid: grid}) }}
      {% endblock %}
    </div>
  {% endblock %}

  {% block grid_panel_footer %}{% endblock %}
</div>

{% block grid_panel_extra_content %}{% endblock %}
