{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="grid js-grid" id="{{ grid.id }}_grid" data-grid-id="{{ grid.id }}">
  {% block grid_header_row %}
    {% block grid_bulk_actions_block %}
      {{ include('@PrestaShop/Admin/Common/Grid/Blocks/bulk_actions.html.twig', {grid: grid}) }}
    {% endblock %}
  {% endblock %}

  {% block grid_table_row %}
    {{ include('@PrestaShop/Admin/Common/Grid/Blocks/table.html.twig', {grid: grid}) }}
  {% endblock %}

  {% block grid_footer_row %}
    {{ include('@PrestaShop/Admin/Common/Grid/Blocks/pagination.html.twig', {grid: grid}) }}
  {% endblock %}
</div>

{% block grid_extra_content %}{% endblock %}
