{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<button type="button"
        id="{{ grid.id }}_grid_action_{{ action.id }}"
        class="dropdown-item js-{{ action.id }}-grid-action"
>
  {% if action.icon is not empty %}
    <i class="material-icons">{{ action.icon }}</i>
  {% endif %}
  {{ action.name }}
</button>
