{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% extends '@PrestaShop/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('themes/new-theme/public/theme' ~ rtl_suffix ~ '.css') }}" />
{% endblock %}

{% block title %}
  {{ 'Invalid token'|trans({}, 'Admin.Catalog.Help') }}
{% endblock %}
{% block body %}
  <div class="fluid-container" id="security-compromised-page" >
      <div id="csrf-white-container" class="row justify-content-md-center">
        <div class="col-md-8">
          <div class="alert alert-danger" role="alert">
            <p class="alert-text">
              {{ '[1]Invalid token[/1]: direct access to this link may lead to a potential security breach.'|trans({}, 'Admin.Catalog.Help')|replace({'[1]': '<b>', '[/1]': '</b>'})|raw_purified }}
            </p>
          </div>

          <h1 class="text-md-center">{{ 'Do you want to display this page?'|trans({}, 'Admin.Catalog.Help') }}</h1>
          <div class="text-md-center">
            <a class="btn btn-lg btn-outline-danger mr-3" href="{{ requestUri }}">
              {{ 'Yes, I understand the risks'|trans({}, 'Admin.Catalog.Help') }}
            </a>
            <a class="btn btn-lg btn-primary ml-3" href="{{ getAdminLink('AdminDashboard') }}">
              {{ 'Take me out of there!'|trans({}, 'Admin.Catalog.Help') }}
            </a>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
