{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% block feature_value_form_block %}
  {{ form_start(featureValueForm) }}

  <div class="card">
    <h3 class="card-header">
      {{ 'Feature value'|trans({}, 'Admin.Catalog.Feature') }}
    </h3>

    <div class="card-body">
      <div class="form-wrapper">
        {% block feature_value_form_rest %}
          {{ form_rest(featureValueForm) }}
        {% endblock %}
      </div>
    </div>

    <div class="card-footer">
      <a href="{{ cancelLink }}" class="btn btn-outline-secondary">
        {{ 'Cancel'|trans({}, 'Admin.Actions') }}
      </a>
      <div class="float-right">
        <button type="submit" class="btn btn-primary" name="save-and-add-new">
          {{ 'Save then add another value'|trans({}, 'Admin.Catalog.Feature') }}
        </button>
        <button type="submit" class="btn btn-primary" id="save-button">
          {{ 'Save'|trans({}, 'Admin.Actions') }}
        </button>
      </div>

    </div>
  </div>
  {{ form_end(featureValueForm) }}
{% endblock %}
