{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% set class = 'btn tooltip-link js-submit-row-action' %}

{% if attributes.class is defined %}
  {% set class = class ~ ' ' ~ attributes.class %}
{% endif %}

{% set confirmation_message = action.options.confirm_message %}

<button class="{{ class }} grid-{{ action.name|lower }}-row-link"
   type="button"
   data-confirm-message="{{ confirmation_message }}"
   data-url="{{ getAdminLink('AdminCartRules', true, {id_cart_rule: record[action.options.id_cart_rule], deletecart_rule: 1, back: app.request.uri}) }}"
   data-method="{{ action.options.method }}"
  {% if action.options.modal_options.options is defined %}
    {% for attribute, value in action.options.modal_options.options %}
      data-{{ attribute|replace({_: '-'}) }}="{{ value }}"
    {% endfor %}
  {% endif %}
  {% if attributes.tooltip_name %}
    data-toggle="pstooltip"
    data-placement="top"
    data-original-title="{{ action.name }}"
  {% endif %}
>
  {% if action.icon is not empty %}
    <i class="material-icons">{{ action.icon }}</i>
  {% endif %}
  {% if not attributes.tooltip_name %}
    {{ action.name }}
  {% endif %}
</button>
