{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% trans_default_domain 'Admin.Advparameters.Feature' %}

{% block content %}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">cloud_download</i>
      {{ 'Download'|trans({}, 'Admin.Actions') }}
    </h3>
    <div class="card-body">
      <div class="alert alert-success" role="alert">
        <p class="alert-text">
          {{ 'Beginning the download ...'|trans({}, 'Admin.Advparameters.Notification') }}
        </p>
      </div>
      <p>
        {{ 'Backup files should automatically start downloading.'|trans({}, 'Admin.Advparameters.Notification') }}
        {{ 'If not,[1][2] please click here[/1]!'|trans({'[1]': ' <a href="' ~ downloadFile.url ~ '" class="btn btn-outline-primary btn-sm">', '[/1]': '</a> ', '[2]': '<i class="icon-download"></i>'}, 'Admin.Advparameters.Notification')|raw_purified }}
      </p>
      <p class="mb-0">
        <a class="btn btn-outline-primary btn-sm" href="{{ path('admin_backups_index') }}">
          <i class="material-icons">keyboard_backspace</i>
          {{ 'Back to list'|trans({}, 'Admin.Actions') }}
        </a>
      </p>
      <iframe src="{{ downloadFile.url }}" class="d-none"></iframe>
    </div>
  </div>
{% endblock %}
