{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('themes/new-theme/public/stock_page' ~ rtl_suffix ~ '.css') }}" type="text/css" media="all">
{% endblock %}

{% block content %}
    {% if is_shop_context %}
        <div id="stock-app"></div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <p class="alert-text">{{ 'Note that this page is available in a single shop context only. Switch context to work on it.'|trans({}, 'Admin.Notifications.Info') }}</p>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

    {% if is_shop_context %}
        {{ parent() }}

        {% set productId = app.request.query.get('productId') ? app.request.query.get('productId') : false %}
        <script>
            var data = {
                baseUrl: '{{ app.request.getBasePath() }}',
                catalogUrl: '{{ url('admin_products_index') }}',
                stockUrl: '{{ url('admin_stock_overview') }}',
                stockExportUrl: '{{ url('api_stock_list_products_export') }}',
                stockImportUrl: '{{ getAdminLink('AdminImport')|raw_purified }}',
                apiStockUrl: '{{ productId ? url('api_stock_list_product_combinations', {productId: productId}) : url('api_stock_list_products') }}',
                apiMovementsUrl: '{{ productId ? url('api_stock_product_list_movements', {productId: productId}) : url('api_stock_list_movements') }}',
                employeesUrl: '{{ url('api_stock_list_movements_employees') }}',
                suppliersUrl: '{{ url('api_stock_list_suppliers') }}',
                categoriesUrl: '{{ url('api_stock_list_categories') }}',
                movementsTypesUrl: '{{ url('api_stock_list_movements_types', {grouped: true}) }}',
                translationUrl: '{{ url('api_i18n_translations_list', {page: 'stock'}) }}',
                locale: '{{ app.request.locale }}'
            }
        </script>

        {% if webpack_server %}
            <script src="http://localhost:8080/stock.bundle.js"></script>
        {% else %}
            <script src="{{ asset('themes/new-theme/public/stock.bundle.js') }}"></script>
        {% endif %}
    {% endif %}

{% endblock %}
