{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="title-content">
  <h1 class="d-inline">
    {{ 'Order'|trans({}, 'Admin.Global') }}
    <strong class="text-muted" data-role="order-id">#{{ orderForViewing.id }}</strong>
    <strong data-role="order-reference">{{ orderForViewing.reference }}</strong>
    <strong>{{ 'from'|trans({}, 'Admin.Global') }}
    {% if orderForViewing.customer is not null and orderForViewing.customer.id != 0 %}
      {{ orderForViewing.customer.firstName }}
      {{ orderForViewing.customer.lastName }}
    {% else %}
      {{ 'Deleted customer'|trans({}, 'Admin.Global') }}
    {% endif %}
    </strong>
  </h1>
</div>
